* {
    margin: 0;
    padding: 0;
}

.intro {
    display: flex;
    justify-content: center;
    height: calc(100vh - 4rem);
    width: 100%;
    margin-top: 4rem;
    padding-top: max(5.75rem, 12%);
    background: radial-gradient(at top left, rgba(250,241,228,1) 0%, rgba(255,255,255,0) 50%);
}

.introContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
    width: fit-content;
    box-shadow: 4px 4px 2px -2px #D2B48C;
    text-align: center;
}
  
.introTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 22.75rem;
    padding: 0 0 0 2rem;
}
  
.introTextContainer h1 {
    font-size: 1.375rem;
    text-shadow: 1px 1px 1px #dadada;
}
  
.sweSubtitle {
    font-size: 0.75rem;
    color:#888;
    padding: 0 0 1.25rem 0;
    text-shadow: 1px 1px 1px #dadada;
}

.introDescription {
    text-shadow: 1px 1px 1px #dadada;
}

.introImgContainer {
    display: flex;
    justify-content: flex-end;
    width: 18.25rem;
    height: 100%;
}

.introImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    -webkit-user-drag: none;
}

@media only screen and (max-width: 600px) {
    .intro {
        height: calc(100vh - 2.75rem);
        margin-top: 2.75rem;
    }
  
    .introContainer {
        flex-direction: column;
        max-width: 17.25rem;
    }

    /* FUNKAR EJ */
    .introContainer:hover {
        animation: expand-border 2s ease-in forwards
    }
  
    .introTextContainer {
        padding: 0 1rem;
        height: auto;
        flex: 1;
    }
  
    .introTextContainer h1 {
        font-size: 1rem;
        text-shadow: 2px 2px 2px #dadada;
    }
  
    .sweSubtitle {
        font-size: 0.625rem;
    }
  
    .introText {
        font-size: 0.75rem;
    }
  
    .introImgContainer {
        width: 100%;
        height: 9.125rem;
    }
  
    .introImg {
        height: 100%;
        width: 55%;
    }
}

/* Keyframes & animations */
/* FUNKAR EJ */
@keyframes expand-border {
    100% {
        border-right: 10px outset #000;
        border-bottom: 10px outset #000;
    }
}