@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .scroll-target {
    scroll-margin-top: 15vh;
  }

  .fade-in-y {
    animation-name: fade-in-y;
    animation-duration: 1s;
  }

  @keyframes fade-in-y {
    from {
      opacity: 0;
      transform: translateY(2rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-in-x {
    animation-name: fade-in-x;
    animation-duration: 1s;
  }

  @keyframes fade-in-x {
    from {
      opacity: 0;
      transform: translateX(2rem);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  html {
    @apply bg-gray bg-gradient-to-b from-gray to-blue select-none;
    font-size: 14px; /* Default font-size */
    input:-webkit-autofill,
    input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-box-shadow: 0 0 0px 1000px var(--input-box-shadow-color, #ffffff00) inset;
    }
  }

  @media (min-width: 1024px) {
    html {
      font-size: 15px;
    }
  }
  @media (min-width: 1536px) {
    html {
      font-size: 17px;
    }
  }
}
