@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-gradient-to-b from-blue to-gray;
    font-size: 14px; /* Default font-size */
  }

  @media (min-width: 768px) {
    html {
      font-size: 16px; /* For larger screens */
    }
  }

  @media (min-width: 1024px) {
    html {
      font-size: 18px; /* larger screens */
    }
  }
}
